<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!--引入外部css-->
    <link rel="stylesheet" th:href="@{/css/thymeleaf.css}">
</head>
<body>
<h1>hello Thymeleaf</h1>
<h1 th:text="${msg}">你好，世界</h1>
<div th:text="${msg}"></div>
<input type="text" th:value="${msg}">
<input type="text" th:value="2020+2020"><!--页面数值运算-->
<h1>下面是thymeleaf解析对象属性</h1>
<p th:text="${video.username}"></p>
<!--
th:src="${video.coverPath}+'xixi'"  ：变量跟字符串是这么拼接的
根据url去加载资源的时候：
    路径编写按照  @{${变量}}的格式(依据官网推荐写法)
    例如：图片、音频、视频、css、js
-->
<img th:src="@{${video.coverPath}}" alt=""/>
<img th:src="${video.coverPath}" alt=""/>
<!--日期格式化处理-->
<p th:text="${#dates.format(video.createTime,'yyyy-MM-dd hh:mm:ss')}"></p>
<h1>下面是thymeleaf解析集合</h1>
<table border="1" style="border-collapse: collapse">
    <!--
        th:each="能取到集合中每个元素的变量:被遍历的集合"
        videos:被遍历的集合
        v:取到集合中的元素
        stat:可以获取行号，下标等内容
    -->
    <tr th:each="v,stat:${videos}">
        <td th:text="${v.username}"></td>
        <td th:text="${#dates.format(v.createTime,'yyyy-MM-dd hh:mm:ss')}"></td>
        <td>
            <img th:src="@{${v.coverPath}}" alt="">
        </td>
        <!--count:从1开始的个数   第1个，2个-->
        <td th:text="${stat.count}"></td>
        <!--index:从0开始的角标-->
        <td th:text="${stat.index}"></td>
        <td>
            <!--thymeleaf给点击事件传参  -->
            <button th:onclick="|test_click('${v.createTime}','${v.username}')|">点我一下</button>
        </td>
    </tr>
</table>
<h1>使用thymeleaf给a标签跳转传参</h1>
<a th:href="@{'/test_thy_chuancan?name='+${video.username}+'&date='+${video.createTime}}">点击我跳转并传参到后台</a>
<h1>下面是我测试外部css和外部js的</h1>
<p class="test_p" th:text="${video.username}"></p>
    <button th:onclick="|test_button('${video.username}')|">点我吧</button>
</body>
<!--引入外部js-->
<script th:src="@{/js/thymeleaf.js}" type="text/javascript"></script>
<script type="text/javascript">
    function test_click(date,username){
        alert(date+"-----"+username);
    }
</script>
</html>